<footer class="t-black">
    <div class="o-bleed o-bg u-py4">
        <div class="o-full">
            <div class="o-columns o-columns--gaps u-db@mobile-menu-down u-mb3">
                <div class="o-columns__column o-columns__column--fill">
                    <h4 class="u-type-h4 u-mt0 u-mb1">Watch the future unfold.</h4>
                    <a href="{{ '/register-for-event/' | prepend: site.baseurl }}" class="c-button c-button--gradient u-type-menu-text u-mb1">Register for Event</a>
                </div>
                <div class="o-columns__column u-mr2">
                    <p class="u-type-menu-text">NEXT 2019</p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/about/' | prepend: site.baseurl }}" class="c-link c-link--anim u-type-tiny">About</a></p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/programs/' | prepend: site.baseurl }}" class="c-link c-link--anim u-type-tiny">Programs</a></p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/session/' | prepend: site.baseurl }}" class="c-link c-link--anim u-type-tiny">Sessions</a></p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/schedule/' | prepend: site.baseurl }}" class="c-link c-link--anim u-type-tiny" rel="noreferrer noopener">Schedule</a></p>
                </div>

                <div class="o-columns__column">
                    <p class="u-type-menu-text">Register</p>
                    <!-- <p class="u-mb0 u-mt0"><a href="{{ '/call-for-article/' | prepend: site.baseurl}}" class="c-link c-link--anim u-type-tiny">Submit your article</a></p>
                    -->
                    <p class="u-mb0 u-mt0"><a href="{{ '/project-exhibition-at-next/' | prepend: site.baseurl}}" class="c-link c-link--anim u-type-tiny">Project Exhibition</a></p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/logic-battle-at-next/' | prepend: site.baseurl}}" class="c-link c-link--anim u-type-tiny">Logic Battle</a></p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/hackathon-at-next/' | prepend: site.baseurl}}" class="c-link c-link--anim u-type-tiny">Hackathon</a></p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/rapid-coding-at-next/' | prepend: site.baseurl}}" class="c-link c-link--anim u-type-tiny">Rapid Coding</a></p>
                
                </div>
                <div class="o-columns__column">
                    <p class="u-type-menu-text">Games </p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/pubg-mobile-at-next/' | prepend: site.baseurl}}" class="c-link c-link--anim u-type-tiny">PUBG Mobile</a></p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/fifa-at-next/' | prepend: site.baseurl}}" class="c-link c-link--anim u-type-tiny">FIFA 19</a></p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/counterstrike-at-next/' | prepend: site.baseurl}}" class="c-link c-link--anim u-type-tiny">CS GO</a></p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/dota-at-next/' | prepend: site.baseurl}}" class="c-link c-link--anim u-type-tiny">Dota 2</a></p>
                </div>
                <div class="o-columns__column">
                    <p class="u-type-menu-text">Resources</p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/news-and-announcements'}}" class="c-link c-link--anim u-type-tiny">News/Announcements</a></p>
                    <p class="u-mb0 u-mt0"><a href="" class="c-link c-link--anim u-type-tiny">Code of Conduct</a></p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/faq/' | prepend: site.baseurl }}" class="c-link c-link--anim u-type-tiny">FAQ</a></p>
                    <p class="u-mb0 u-mt0"><a href="{{ '/stay-connected/' | prepend: site.baseurl }}" class="c-link c-link--anim u-type-tiny">Contact us</a></p>
                </div>                                                
            </div>
            <hr class="u-type-faint">
            <div class="o-split-bar u-flex-horizontal-r u-flex-wrap">
                <div class="o-split-bar__first u-w100@mobile-menu-down">
                    <p class="u-w100@mobile-menu-down u-two-col@mobile-menu-down">
                            <a href="https://ncit.edu.np/" class="c-link c-link--outbound c-link--anim u-type-tinier u-type-faint u-mr1" target="_blank" rel="noreferrer noopener">NCIT website</a>
                            <span class="">


                 <a href="https://www.facebook.com/nextncit/" target="_blank" rel="noreferrer noopener" class="c-link u-type-faint u-mlp5 c-link--facebook"></a>

                 <a href="https://www.twitter.com/" target="_blank" rel="noreferrer noopener" class="c-link u-type-faint u-mlp5 c-link--twitter"></a>

                 <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener" class="c-link u-type-faint u-mlp5 c-link--instagram"></a>

              </span>
                    </p>
                </div>
                <hr class="u-type-faint u-dn u-db@mobile-menu-down">
                <div class="o-split-bar__second u-w100@mobile-menu-down">
                    <p class="u-type-faint u-type-tinier">Made with &hearts; by <a href="https://aashishtiwari.com.np" class="c-link c-link--anim u-type-tiny u-type-faint " target="_blank" rel="noreferrer noopener">Ashish</a> and <a href="https://nischal.info.np/" class="c-link c-link--anim u-type-tiny u-type-faint" target="_blank" rel="noreferrer noopener">Nischal</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{ '/assets/js/main.js' | prepend: site.url }}"></script>

<a aria-hidden="true" class="c-link c-link--outbound c-link--sacrificial">.</a>