<header>
    <div class="o-full">
        <div class="t-light">
            <nav class="o-split-bar c-inner-nav c-inner-nav--desktop">
                <div class="o-split-bar__first o-split-bar__first--shrink">
                    <a href="{{ site.url }}">
                        <img class="c-logo" src="{{ '/assets/images/logo.png' | prepend: site.baseurl }}" alt="NEXT 2019" width="240" height="54">
                    </a>
                </div>
                <div class="o-split-bar__second">
                    <a href="{{ '/about/' | prepend: site.baseurl }}" class="c-link c-link--margin c-link--anim-plain-mirror u-type-menu-text">About</a>
                    <a href="{{ '/programs/' | prepend: site.baseurl }}" class="c-link c-link--margin c-link--anim-plain-mirror u-type-menu-text">Programs</a>
                    <a href="" class="c-link c-link--margin c-link--anim-plain-mirror u-type-menu-text">Session</a>
                    <a href="" class="c-link c-link--margin c-link--anim-plain-mirror u-type-menu-text">Schedule</a>                    
                    <a href="" class="c-button c-button--margin c-button--gradient u-type-menu-text">Register for Event</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="t-black">
        <div class="o-bg o-bleed">
            <div class="o-full">
                <nav class="o-split-bar c-inner-nav c-inner-nav--mobile">
                    <div class="o-split-bar__first o-split-bar__first--front o-split-bar__first--shrink">
                        <a href="{{ site.url }}">
                            <img class="c-logo c-logo--mobile" src="{{ '/assets/images/logo.png' | prepend: site.baseurl }}" alt="NEXT 2019" width="240" height="54">
                        </a>
                    </div>
                    <div class="o-split-bar__second o-split-bar__second--front">
                        <button aria-haspopup="true" class="c-inner-nav__button js-menu-toggle"></button>
                    </div>
                    <div id="js-mobile-menu" class="c-inner-nav__mobile js-menu-element">
                        <div class="c-inner-nav__mobile-inner u-px1">
                            <a href="{{ '/about/' | prepend: site.baseurl }}" class="c-inner-nav__link c-link">About event</a>
                            <a href="{{ '/programs/' | prepend: site.baseurl }}" class="c-inner-nav__link c-link">Registration</a>
                            <a href="" class="c-inner-nav__link c-link">Programs</a>
                            <a href="" class="c-inner-nav__link c-link">Sessions</a>
                            <hr class="u-mb2 u-mt2">
                            <div class="o-split-bar u-w100">
                                <div class="o-split-bar__first o-split-bar__first--align-start u-flex u-flex-vertical">
                                    <a href="" class="c-link u-type-body u-mb1">Schedule</a>
                                </div>
                                <div class="o-split-bar__second o-split-bar__second--align-start u-flex u-flex-vertical">
                                    <a href="" class="c-link u-type-body u-mb1">News/Announcements</a>
                                </div>
                            </div>
                            <hr class="u-mb2 u-mt1">
                            <div class="o-split-bar u-w100">
                                <div class="o-split-bar__first o-split-bar__first--align-start u-flex u-flex-vertical">
                                    <a href="" class="c-link u-type-tiny u-mb1">Stay Connected</a>
                                    <a href="" class="c-link u-type-tiny u-mb1">Code of Conduct</a>
                                </div>
                                <div class="o-split-bar__second o-split-bar__second--align-start u-flex u-flex-vertical">
                                    <a href="" class="c-link u-type-tiny u-mb1">Become a Sponsor</a>
                                    <span class="u-type-h5 u-mb1">

                      <a href="" class="c-link u-mlp5"></a>

                      <a href="https://www.facebook.com/nextncit/" class="c-link u-mlp5 c-link--facebook" target="_blank"></a>

                      <a href="" class="c-link u-mlp5 c-link--twitter"></a>

                      <a href="" class="c-link u-mlp5 c-link--instagram"></a>

                  </span>
                                </div>
                            </div>
                            <hr class="u-mb2 u-mt1">
                            <div class="o-split-bar u-w100">
                                <div class="o-split-bar__first o-split-bar__first--align-start">
                                    <p class="u-type-tinier u-m0">Made with &hearts; by <a href="https://aashishtiwari.com.np" class="c-link c-link--outbound c-link--anim u-type-tinier u-type-faint u-mr1" target="_blank" rel="noreferrer noopener">Ashish</a> & <a href="https://nischal.info.np/" class="c-link c-link--outbound c-link--anim u-type-tinier u-type-faint u-mr1" target="_blank" rel="noreferrer noopener">Nischal</a></p>
                                </div>
                                <div class="o-split-bar__second o-split-bar__second--align-end">
                                        <p class="u-type-tinier u-m0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</header>